body {
	background: #eeeeee;
	color: #000000;
}


h1 {
	font-size: 40px;
}

h2 {
	font-size: 28px;
}

a {
	color: red;
}

p {
	font-size: 14px;
}

div#navbar { 
	background-color: #bbbbbb;
	color: white;
	padding-top: 10px;
	color: #222222;
	padding-bottom: 20px;
}

div#navbar a {  
	color: #222222;
}

div#navbar ul {  
    list-style: none;  
    display: block;  
    margin: 0 10px;  
}  

div#navbar ul li {  
    float: left;  
    margin: 0 1.5em;  
    font: bold 1em Arial;  
}

div#content {  
    background-color: #dddddd;
/*	color: white;*/
	padding-top: 10px;
	padding-bottom: 10px;
}

div#contact {  
    background-color: #bbbbbb;
	padding-top: 10px;
	padding-bottom: 10px;
}

div#contact p  {  
	font-size: 16px;
}

div#footer {  
    background-color: #222222;
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
}

div#footer p {  
	font-size: 14px;
}